<div class="mb-5">
  <app-go-back></app-go-back>
</div>
<div class="card shadow-sm position-relative">
  <div class="card-body">
    <h2 class="text-center">Doctors</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors">
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.specialty }}</td>
            <td>{{ doctor.email }}</td>
            <td>{{ doctor.phone }}</td>
            <td>{{ doctor.address }}</td>
            <!-- Edit Button -->
            <td>
              <button class="btn btn-primary btn-sm m-1" (click)="showEditDoctorPopup(doctor.id)">
                <i class="fas fa-edit"></i>
              </button>
              <!-- Delete Button -->
              <button class="btn btn-danger btn-sm m-1" (click)="onDelete(doctor.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Plus Sign Button -->
  <button class="btn btn-primary btn-lg rounded-circle position-absolute top-0 end-0 m-2" (click)="showDoctorPopup()">
    <i class="fas fa-plus"></i>
  </button>
</div>


<app-add-doctor
*ngIf="showAddDoctor"
(addDoctorEvent)="addDoctor($event)"
(cancelEvent)="onCancel()"
></app-add-doctor>


<app-edit-doctor
*ngIf="showEditDoctor"
[doctor]="selectedDoctor"
(editDoctorEvent)="onEdit($event)"
(cancelEvent)="onCancel()"
></app-edit-doctor>

<app-popup-message
[message]="message"
[isVisible]="showPopup"
[type]="popupType"
></app-popup-message>