.contact-bg {
  //background-image: url("../../../assets/images/copy-space-medical-desk-with-stethoscope.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}